In [48]:
import numpy as np
import pandas as pd # data processing

In [49]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [50]:
train.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct

In [51]:
test.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare
0,213284604,10.5,924,42,2.4486,148,2/1/2020 0:38,2/1/2020 0:53,6.83454,79.8750,6.77490,79.8840,289.27
1,213286352,10.5,4249,20,0.0000,91,2/1/2020 1:02,2/1/2020 2:13,6.91168,79.8723,6.55091,79.9706,1912.70
2,213293973,10.5,1552,255,2.6588,23,2/1/2020 5:02,2/1/2020 5:28,6.92145,79.8478,6.90539,79.8989,394.00
3,213294622,10.5,462,16,0.0000,198,2/1/2020 5:30,2/1/2020 5:38,6.77433,79.9416,6.80401,79.9407,154.32
4,213298687,10.5,814,392,12.3692,69,2/1/2020 7:00,2/1/2020 7:14,6.97968,79.9130,6.98875,79.8914,147.47

In [52]:
predictor_cols = ['additional_fare', 'duration', 'meter_waiting', 'meter_waiting_fare', 'meter_waiting_till_pickup', 'fare']
train_X = train[predictor_cols]
test_X = test[predictor_cols]

In [53]:
train_X.head()

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,fare
0,10.5,834.0,56.0,0.0000,64.0,270.32
1,10.5,791.0,47.0,0.0000,134.0,197.85
2,10.5,1087.0,80.0,0.0000,61.0,301.64
3,10.5,598.0,271.0,15.6638,68.0,82.30
4,NaN,NaN,NaN,NaN,NaN,358.39

In [54]:
train.fillna(train_X.mean(), inplace=True)
test.fillna(test_X.mean(), inplace=True)

train.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.500000,834.000000,56.000000,0.000000,64.000000,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.500000,791.000000,47.000000,0.000000,134.000000,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.500000,1087.000000,80.000000,0.000000,61.000000,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.500000,598.000000,271.000000,15.663800,68.000000,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,13.719651,1702.858077,629.074231,32.057666,112.466832,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct

In [55]:
train['num_label'] = False

for index, row in train.iterrows():
    if(row['label'] == "correct"):
        train.at[index, 'num_label'] = 1
    else:
        train.at[index, 'num_label'] = 0


train_X2 = train[predictor_cols]
test_X = test[predictor_cols]
train_y2 = train.num_label

train_X2.head()

,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,fare
0,10.500000,834.000000,56.000000,0.000000,64.000000,270.32
1,10.500000,791.000000,47.000000,0.000000,134.000000,197.85
2,10.500000,1087.000000,80.000000,0.000000,61.000000,301.64
3,10.500000,598.000000,271.000000,15.663800,68.000000,82.30
4,13.719651,1702.858077,629.074231,32.057666,112.466832,358.39

In [56]:
train_y2.head()

0    True
1    True
2    True
3    True
4    True
Name: num_label, dtype: bool

In [23]:
!pip install sklearn

Collecting sklearn
  Downloading https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied: scikit-learn in /home/mojith/anaconda3/lib/python3.7/site-packages (from sklearn) (0.21.2)
Requirement already satisfied: joblib>=0.11 in /home/mojith/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (0.13.2)
Requirement already satisfied: scipy>=0.17.0 in /home/mojith/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.3.0)
Requirement already satisfied: numpy>=1.11.0 in /home/mojith/anaconda3/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.18.4)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Stored in directory: /home/mojith/.cache/pip/wheels/76/03/bb/589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

NameError: name 'X' is not defined

In [57]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(train_X2, train_y2, test_size = 0.2, train_size = 0.8, random_state = 0)

In [58]:
y_test.head()

7219    True
6673    True
1274    True
2118    True
3914    True
Name: num_label, dtype: bool

In [59]:
# LogisticRegression
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter=400)
lr.fit(X_train,y_train)
lr_pred=lr.predict(X_test)

/home/mojith/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [60]:
from sklearn import metrics
cnf_matrix = metrics.confusion_matrix(y_test, lr_pred)
print(cnf_matrix)

[[  30  291]
 [   9 3106]]

In [61]:
predicted_lr = lr.predict(test_X)

pred_lr = []
for x in range(len(predicted_lr)):
    pred_lr.append(bool(predicted_lr[x]))
    
predicted_lr = np.array(pred_lr)

output_lr = pd.DataFrame({'tripid': test.tripid,
                       'prediction': predicted_lr})

In [62]:
output_lr_path = "submission_lr.csv"
output_lr.to_csv(output_lr_path, index=False)

In [81]:
# RandomForestRegressor
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=100, random_state = 0)
rf.fit(X_train,y_train)
rf_pred=rf.predict(X_test)

In [83]:
pred_rf = []
for x in range(len(rf_pred)):
    pred_rf.append(bool(rf_pred[x]))
    
rf_pred = np.array(pred_rf)

cnf_matrix = metrics.confusion_matrix(y_test, rf_pred)
print(cnf_matrix)

[[  60  261]
 [   3 3112]]

In [84]:
predicted_rf = lr.predict(test_X)

pred_rf = []
for x in range(len(predicted_rf)):
    pred_rf.append(bool(predicted_rf[x]))
    
predicted_rf = np.array(pred_rf)

output_rf = pd.DataFrame({'tripid': test.tripid,
                       'prediction': predicted_rf})

In [85]:
output_rf_path = "submission_rf.csv"
output_rf.to_csv(output_rf_path, index=False)